<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11"><html>
	
<head>
  <link rel="stylesheet" type="text/css" href="/css/all.css" />
	<script type="text/javascript" src="/javascript/labels.js"></script>
  <link rel="alternate" type="application/rss+xml" title="UsabilityPost RSS" href="http://feeds.feedburner.com/usabilitypost" />
	<meta name="description" content="Tips and insights into good design and usability" />
	<meta name="keywords" content="usability blog, design blog, usability, design, usability tips, design tips, web design, ui design, interface design, user interface" />
  <title>
		<% if @path == 'index' %>
			UsabilityPost
		<% elsif @path.split('/').compact.length == 4 %>
			UsabilityPost - <%= title %>
		<% else %>
			UsabilityPost - <%= @path.capitalize.gsub(/[-]/, ' ') %>
		<% end %>
	</title>
</head>

<body>
	<div id="container">
	<div id="wrapper_top"></div>
	<div id="wrapper_middle">
		
		<div id="navigation">
			<ul>
				<li<%= @path == 'index' ? ' class="current"' : '' %>><a href="/">Blog</a></li>
				<li<%= @path == 'archive' ? ' class="current"' : '' %>><a href="/archive/">Archive</a></li>
				<li<%= @path == 'books' ? ' class="current"' : '' %>><a href="/books/">Books</a></li>
				<li><a href="http://forum.usabilitypost.com">Forum</a></li>
			</ul>
			
			<div id="search">
				<form action="http://search.yahoo.com/search" method="get">
					<fieldset>
						<input type="hidden" name="vs" value="usabilitypost.com" />
						<label for="search_input" class="overlabel">Search UsabilityPost</label>
						<input type="text" name="p" id="search_input" title="Search UsabilityPost" />
					</fieldset>
				</form>
			</div>
		</div>
		
		<div id="header">
			<a href="/" id="logo"></a>
		
			<div id="subscribe">
				<ul>
					<li><img src="http://img.usabilitypost.com.s3.amazonaws.com/assets/icons/rss_16.png" /><a href="http://feeds.feedburner.com/usabilitypost">RSS</a></li>
					<li><img src="http://img.usabilitypost.com.s3.amazonaws.com/assets/icons/email_16.png" style="left: -24px; top: 4px;" /><a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=2274464">Email</a></li>
					<li><img src="http://img.usabilitypost.com.s3.amazonaws.com/assets/icons/twitter_16.png" /><a href="http://www.twitter.com/usabilitypost">Twitter</a></li>
				</ul>
				<div id="subscriber_count">
					<span>
						<% c = Curl::Easy.perform("https://feedburner.google.com/api/awareness/1.0/GetFeedData?uri=usabilitypost") %>
						<%= c.body_str.match(/circulation="(\d+)"/)[1] %>
					</span><br />Subscribers<br />
					<a href="/what-is-rss/">What's this?</a>
				</div>		
			</div>
		</div>
			
  <div id="content">
    <%= yield %>
  </div>

	<div id="sidebar">

		<div id="ads">
			<script type="text/javascript">
			Vertical1234628 = false;
			ShowAdHereBanner1234628 = true;
			RepeatAll1234628 = false;
			NoFollowAll1234628 = false;
			BannerStyles1234628 = new Array(
				"a{display:block;float:left;font-size:11px;color:#888;font-family:verdana,sans-serif;margin:9px 15px 0 0;text-align:center;text-decoration:none;overflow:hidden;}",
				"img{border:0;}",
				"a.adhere{display: none; color:#666;font-weight:bold;font-size:12px;border:1px solid #ccc;background:#e7e7e7;text-align:center;}",
				"a.adhere:hover{border:1px solid #999;background:#ddd;color:#333;}"
			);

			document.write(unescape("%3Cscript src='"+document.location.protocol+"//s3.buysellads.com/1234628/1234628.js?v="+Date.parse(new Date())+"' type='text/javascript'%3E%3C/script%3E"));
			</script>

			<a href="http://buysellads.com/buy/detail/713" id="advertise_on_up">Advertise on Usabilitypost</a>
		</div>

		<div id="popular_posts">
			<h4>Popular Posts</h4>
			<ul>
				<li><a href="http://www.usabilitypost.com/2009/04/15/8-characteristics-of-successful-user-interfaces/">8 Characteristics Of Successful User Interfaces</a></li>
				<li><a href="http://www.usabilitypost.com/2009/05/29/the-1kb-css-grid-part-1/">The 1Kb CSS Grid, Part 1</a></li>
				<li><a href="http://www.usabilitypost.com/2009/06/29/deceptive-design/">Using Deceptive Design Elements to Emphasize Product Features</a></li>
				<li><a href="http://www.usabilitypost.com/2009/10/02/restraint/">Restraint</a></li>
				<li><a href="http://www.usabilitypost.com/2009/11/03/3-things-phone-manufacturers-should-get-right-to-beat-the-iphone/">3 Things Phone Manufacturers Should Get Right to Beat the iPhone</a></li>
			</ul>
		</div>

		<div id="write_for_up">
			<h4>Write a Guest Post</h4>
			<p>Have an opinion on the latest design trends, a new app you've just launched or a unique technique you'd like to share?<br /><a href="http://www.usabilitypost.com/contact">Get in touch.</a></p>
		</div>

		<div id="book_reviews">
			<h4>Latest Book Reviews</h4>
			<ul>
				<% @articles.select {|a| a[:category] == 'book' }[0...5].each do |book| %>
				  <li>
						<a href="<%= book.path %>" class="book_title"><%= book.title %></a>
						<img src="<%= book.thumbnail %>" /><%= book.book_author %><br />
						<%= book.amazon %><br />
					 	<a href="<%= book.path %>">Read the review</a>
					 </li>
				<% end %>
			</ul>
		</div>

	</div> <!-- Closing sidebar -->
	
  <div id="footer">
		<div id="footer_links">
			<a href="/about/">About</a> | 
			<a href="/contact/">Contact</a> | 
			<a href="/advertise/">Advertise</a>
		</div>		
		Copyright &copy; 2008-2010 <a href="http://www.peritusmedia.com">Peritus Media</a>. Powered by <a href="http://cloudhead.io/toto">toto</a>.
	</div>

	</div><!-- Closing middle wrapper -->
	<div id="wrapper_bottom"></div>
	</div><!-- Closing container -->

	<div id="credits">
		Credits: Guest post icon by <a href="http://dryicons.com" rel="nofollow">Dryicons</a>. Subscription icons by <a href="http://www.wefunction.com" rel="nofollow">Function</a>. Social media icons by <a href="http://www.komodomedia.com" rel="nofollow">Komodo Media</a>.<br />
	</div>
	
	<!-- Google Analytics -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try{
		var pageTracker = _gat._getTracker("UA-4565969-2");
		pageTracker._setDomainName(".usabilitypost.com");
		pageTracker._trackPageview();
		} catch(err) {}
	</script>
	
	<!-- Disqus Comment Count -->
	<script type="text/javascript">
	//<![CDATA[
	(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
		if(links[i].href.indexOf('#disqus_thread') >= 0) {
			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
		}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/theusabilitypost/get_num_replies.js' + query + '"></' + 'script>');
	})();
	//]]>
	</script>
</body>

</html>

