.onlineWidget, .onlinepanel {
  position: relative;
}
.count {
}
.onlinepanel {
  position: absolute;
  bottom: 50px;
  height: auto;
  display: none;
  z-index: 1000;
}
.geoRow {
  overflow: hidden;
}
.flag, .country, .people {
  float: left;
}
