/*----------------------------------- 
		Reset
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0;}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}

/*----------------------------------- 
		General
------------------------------------*/
body {
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 1.4em;
	color: #222;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/body.jpg) repeat #3E332D;
	padding: 15px 0;
}
a {
	color: #A94040;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
.post a:visited, #popular_posts a:visited {
	color: #7A4648;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}


/*----------------------------------- 
		Containers
------------------------------------*/
#container {
	width: 1012px;
	margin: 0 auto;
	position: relative;
}
#wrapper_top {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/bg_top.png) no-repeat;
	height: 11px;
}
#wrapper_middle {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/bg_middle.png) repeat-y;
	padding: 40px 58px 25px 54px;
}
#wrapper_bottom {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/bg_bottom.png) no-repeat;
	height: 19px;
}
#content {
	width: 550px;
	float: left;
	clear: both;
	padding: 27px 35px 15px 0;
	border-right: solid 1px #E3E3E3;
	background-color: #FFF;
}
#sidebar {
	border-left: solid 1px #E3E3E3;
	margin-left: -1px;
	width: 283px;
	float: left;
	padding: 23px 0 0 30px;
	background-color: #FFF;
}

/*----------------------------------- 
		Header
------------------------------------*/
#header {
	clear: both;
	position: relative;
	height: 120px;
	border-bottom: solid 1px #E3E3E3;
}
#logo {
	display: block;
	position: absolute;
	width: 317px;
	height: 53px;
	left: 0;
	top: 38px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/logo.png) no-repeat;
}
#subscribe {
	width: 335px;
	height: 90px;
	padding: 30px 0 0 30px;
	position: absolute;
	right: -51px;
	top: 0;
	font-size: 14px;
	border-left: solid 1px #E3E3E3;
}
#subscribe h4 {
	padding-bottom: 6px;
	font-weight: bold;
}
#subscribe ul {
	padding-left: 22px;
}
#subscribe ul li {
	position: relative;
}
#subscribe ul li img {
	position: absolute;
	left: -22px;
	top: 2px;
}
#subscriber_count {
	position: absolute;
	right: 51px;
	top: 9px;
	height: 40px;
	width: 160px;
	text-align: center;
	padding: 20px 0;
	color: #888;
}
#subscriber_count span {
	font-size: 26px;
	color: #222;
}

/*----------------------------------- 
		Navigation
------------------------------------*/
#navigation {
	height: 44px;
	position: relative;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/navigation.png) repeat-x top;
	-webkit-box-shadow: #C9C9C9 0 2px 4px;
	-moz-box-shadow: #C9C9C9 0 2px 4px;
	box-shadow: #C9C9C9 0 2px 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#navigation ul {
}
#navigation ul li {
	float: left;
}
#navigation ul li a {
	display: block;
	float: left;
	height: 44px;
	line-height: 44px;
	padding: 0 16px;
	color: #333;
	text-decoration: none;
}
#navigation ul li a:hover {
	color: #000;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/navigation.png) repeat-x 0 -90px;	
}
#navigation ul li a:active {
	line-height: 46px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/navigation.png) repeat-x 0 -45px;
}
#navigation ul .current a, #navigation ul .current a:hover {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/navigation.png) repeat-x 0 -135px;	
	border: 0;
	height: 44px;
	color: #FFF;
}
#navigation ul li:first-child a {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

/*----------------------------------- 
		Search
------------------------------------*/
#search {
	position: absolute;
	font-family: Arial, sans-serif;
	right: 7px;
	top: 5px;
}
/* FireFox */
#search, x:-moz-any-link, x:default {
	top: 7px;
}
#search #search_input {
	width: 245px;
	padding-left: 25px;
}
#search_input:focus {
	border: solid 1px #222;
	background: #FFF;
	-webkit-box-shadow: #CECECE 0 1px 4px;
	-moz-box-shadow: #CECECE 0 1px 4px;
	box-shadow: #CECECE 0 1px 4px;
}
.overlabel, .overlabel-apply {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/search_bg.png) no-repeat 0 1px transparent;
  position: absolute;
  top: 8px;
  left: 21px;
	padding-left: 6px;
  z-index: 1;
  color: #888;
	font-size: 12px;
	cursor: text;
}
/* FireFox */
.overlabel, .overlabel-apply, x:-moz-any-link, x:default {
	top: 5px;
}

/*----------------------------------- 
		Post Formatting
------------------------------------*/
.post {
	position: relative;
	padding-bottom: 30px;
}
.post .caption {
	text-align: center;
	color: #9BA98D;
	font-style: italic;
	margin-bottom: 15px;
}
.post .excerpt img {
	display: none;
}
.post .excerpt a {
	padding: 8px 10px 8px 28px;
	border-top: solid 1px #EAEAEA;
	border-left: solid 1px #D6D6D6;
	border-right: solid 1px #D6D6D6;
	border-bottom: solid 1px #C0C0C0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/amazon.png) no-repeat 8px 11px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.post h1 {
	font-size: 34px;
	margin-bottom: 0.9em;
}
.post h2, .post h2 a, .post h2 a:visited {
	font-size: 34px;
	color: #000;
	line-height: 1.1em;
	margin-bottom: 0.2em;
	border-bottom: 0;
}
.page h2 {
	margin-bottom: 0.7em;
}
.post h2 a:hover {
	border-bottom: 0;
	color: #A94040;
	text-decoration: none;
}
.post h3, .comment h3 {
	font-family: Arial, sans-serif;
	font-size: 26px;
	color: #658F43;
	padding-top: 10px;
	margin-bottom: 0.9em;
	line-height: 1em;
}
.post h4, .comment h4 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 0.8em;
	padding-top: 8px;
}
.post .comments_count {
	position: absolute;
	top: 0;
	left: -62px;
}
.post .comments_count a {
	display: block;
	height: 50px;
	line-height: 39px;
	width: 50px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/comments.png) no-repeat top;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.post .comments_count a:hover {
	text-decoration: none;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/comments.png) no-repeat bottom;
	color: #FFF;
}
.meta {
	color: #555;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}
.meta_date {
	color: #A3A3A3;
}
.post .more {
	display: block;
	border-bottom: 0;
	margin-top: 18px;
	font-size: 15px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x top #FBFBFB;
	border: solid 1px #E3E3E3;
	width: 120px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.post .more:hover {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x top #F5F5F5;
	border: solid 1px #C5C5C5;
	text-decoration: none;
}
.post ul, .comment ul {
	list-style-type: disc;
	margin-left: 18px;
	margin-bottom: 18px;
}
.post ol, .comment ol {
	list-style-type: decimal;
	margin-left: 18px;
	margin-bottom: 18px;
}
.post blockquote, .comment blockquote {
	padding: 10px 10px 25px 52px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/blockquote.png) no-repeat 0 5px;
	font-style: italic;
	color: #555;
	min-height: 32px;
	font-size: 16px;
}
.post pre, .comment pre {
	color: #586E57;
	font-family: "Courier", monospace;
	font-size: 14px;
	margin-bottom: 12px;
	background-color: #F1FBEE;
	padding: 14px 20px;
	border-top: solid 1px #E7F0E3;
	border-bottom: solid 1px #E7F0E3;
}
.post code, .comment code {
	color: #586E57;
	font-family: "Courier", monospace;
	font-size: 14px;
}
.post p, .comment p {
	margin-bottom: 1.5em;
}
.post a:hover, .comment a:hover {
	text-decoration: underline;
}
.navigation a {
	display: block;
	float: left;
	font-size: 14px;
	background: #A64141;
	color: #FFF;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	padding: 0 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
}
.navigation a:hover {
	background-color: #333;
	text-decoration: none;
}
.guest_author_box {
	padding: 0 0 0 77px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/icons/write_for_up.png) no-repeat 0 0;
	border-bottom: solid 1px #E3E3E3;
	margin-right: -35px;
	margin-bottom: 20px;
	min-height: 80px;
	color: #555;
	font-size: 14px;
	line-height: 1.3em;
	padding-right: 35px;
}
.guest_author_name {
	color: #222;
	font-size: 15px;
	padding-bottom: 10px;
}

/*----------------------------------- 
		After Post Box
------------------------------------*/
.after_post {
	padding: 12px 0 5px 0;
}
.next_actions {
	position: relative;
	float: left;
	width: 250px;
	padding: 0 50px 0 0;
}
.after_post_subscribe {
	width: 250px;
	float: left;
}
.after_post h4 {
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 0.6em;
}
.after_post .share_button {
	position: absolute;
	top: 82px;
	left: 70px;
}
/* FireFox */
.after_post .share_button, x:-moz-any-link, x:default {
	top: 84px;
}

/*----------------------------------- 
		Books
------------------------------------*/

.book {
	clear: both;
	position: relative;
	padding: 0 0 30px 105px;
	min-height: 125px;
}
.book img {
	position: absolute;
	top: 14px;
	left: 0;
}
.book .comments_count {
	top: 10px;
}
#content .book h2 a {
	font-size: 25px;
}
.book_excerpt {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	color: #555;
}
.book_excerpt a {
	padding: 8px 10px 8px 28px;
	border-top: solid 1px #EAEAEA;
	border-left: solid 1px #D6D6D6;
	border-right: solid 1px #D6D6D6;
	border-bottom: solid 1px #C0C0C0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/amazon.png) no-repeat 8px 11px;
	text-transform: none;
	letter-spacing: 0;
}
.book_excerpt .isbn {
	padding-top: 15px;
	letter-spacing: 0;
	text-transform: none;
}
.book_preview img {
	display: none;
}
.amazon_link {
	padding-left: 17px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/amazon.png) no-repeat 0 0;
}

/*----------------------------------- 
		Comments
------------------------------------*/
#comments_heading {
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding-bottom: 6px;
	color: #999;
	border-bottom: solid 1px #E3E3E3;
	margin-right: -35px;
}
.comment {
	position: relative;
	padding: 20px 35px 10px 82px;
	border-bottom: solid 1px #E3E3E3;
	margin-right: -35px;
}
.comment_avatar {
	position: absolute;
	left: 0;
	top: 17px;
	width: 64px;
	height: 67px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/avatar.png) no-repeat;
	padding: 6px 0 0 7px;
}
.comment_author {
	font-family: Arial, sans-serif;
	font-size: 18px;
}
.comment_date {
	font-size: 13px;
	color: #999;
	margin: 2px 0 12px 0;
}
.comment p {
	margin-bottom: 1.5em;
}
.vip_comment {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/vip_bg.png) no-repeat 0 0;
}
.vip_comment .comment_avatar {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/vip_avatar.png) no-repeat 2px 2px;
}
.vip_comment .comment_avatar img {
	display: none;
}
.comments_closed {
	font-size: 18px;
	color: #B9B9B9;
	padding: 30px 82px;
}

/*----------------------------------- 
		Comment Form
------------------------------------*/
#comment_form {
	padding: 20px 0 0 0;
}
#comment_form input, #comment_textarea, #search_input {
	padding: 6px;
	font-size: 13px;
	border-top: solid 1px #656565;
	border-left: solid 1px #999;
	border-right: solid 1px #AFAFAF;
	border-bottom: solid 1px #C3C3C3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 7px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/input_bg.png) repeat-x top #FFF;
}
#search_input {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/search_input.png);
	-webkit-box-shadow: #FFF 0 1px 1px;
	-moz-box-shadow: #FFF 0 1px 1px;
	box-shadow: #FFF 0 1px 1px;
}
#comment_form input:focus, #comment_textarea:focus, #search_input:focus {
	border-top: solid 1px #767676;
	border-left: solid 1px #656565;
	border-right: solid 1px #656565;
	border-bottom: solid 1px #000;
	outline: none;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/focus.png) repeat-x top #FBFBFB;
	-webkit-box-shadow: #CDCDCD 0 1px 2px;
	-moz-box-shadow: #CDCDCD 0 1px 2px;
	box-shadow: #CDCDCD 0 1px 2px;
}
#search_input:focus {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/search_input_focus.png) 0 0 #FFF;
}
#comment_textarea {
	width: 538px;
	height: 130px;
}
#comment_form label {
	font-size: 14px;
	margin: 0;
	padding: 0 0 0 1px;
}
#comment_form_header {
	font-size: 18px;
	padding: 0 0 4px 1px;
}
#comment_form #submit_comment {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	border-top: solid 1px #4A6E2E;
	border-left: solid 1px #43632A;
	border-right: solid 1px #43632A;
	border-bottom: solid 1px #3A5624;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x top #45793E;
	color: #FFF;
	height: 38px;
	line-height: 36px;
	cursor: pointer;
	padding: 0 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	-webkit-box-shadow: #999 0 1px 2px;
	-moz-box-shadow: #999 0 1px 2px;
	box-shadow: #999 0 1px 2px;
}
#comment_form #submit_comment:hover, #comment_form #submit_comment:focus {
	border-top: solid 1px #448B39;
	border-left: solid 1px #3A7531;
	border-right: solid 1px #3A7531;
	border-bottom: solid 1px #32662A;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x top #449837;
}
#comment_form #submit_comment:active {
	border-top: solid 1px #142712;
	border-left: solid 1px #2D5329;
	border-right: solid 1px #2D5329;
	border-bottom: solid 1px #345F30;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x 0 -38px #3C6D38;
	line-height: 38px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#gravatar_info {
	width: 240px;
	float: right;
	top: 0;
	right: 0;
	font-size: 13px;
	color: #777;
	padding: 21px 15px 0 80px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/gravatar.png) no-repeat 0 18px;
	line-height: 1.4em;
}
#gravatar_info h4 {
	font-size: 15px;
	color: #222;
	padding-bottom: 0.7em;
}

/*----------------------------------- 
		Disqus Comments
------------------------------------*/
.comments {
	padding-bottom: 15px;
}
#dsq-content #dsq-comments .dsq-comment{ 
	position: relative;
	padding: 20px 35px 0 82px;
	border-bottom: solid 1px #E3E3E3;
	margin-right: -35px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/avatar_bg.png) no-repeat 0 18px;
}
#dsq-content #dsq-comments .dsq-comment-header{ 
	background: #FFF;
	font-size: 14px;
	font-family: Arial, sans-serif;
	margin-left: -11px;
}
#dsq-content #dsq-comments .dsq-header-meta {
	color: #B2B2B2;
	font-size: 11px;
}
#dsq-content #dsq-comments .dsq-header-avatar img { 
	height: 48px; 
	width: 48px;
	position: absolute;
	left: 6px;
	top: 23px;
}
#dsq-content #dsq-comments .dsq-comment-body { 
	font-size: 15px;
}
#dsq-content #dsq-extra-links { display: none; }
#dsq-content #dsq-options-toggle { display: none; }
#disqus_thread #dsq-content h3 { display: none; }
#dsq-content .dsq-options {
	display: none;
}
#dsq-content #dsq-new-post #dsq-authenticate .dsq-login-buttons {
	background: 0;
}
#dsq-content .dsq-item-trackback {
	display: none;
}
.comments .dsq-brlink {
	display: none;
}
.dsq-comment-header-time {
	font-size: 12px;
	color: #B9B9B9;
}
#dsq-content #dsq-new-post .dsq-request-user-info {
	background: 0;
}
#dsq-content #dsq-new-post #dsq-form-area .dsq-post-footer .dsq-sharing-options {
	display: none;
}
#dsq-content #dsq-thread-settings {
	background: #FBFBFB;
	border: 0;
	padding: 5px 35px 5px 8px;
	margin: 0;
	margin-top: -10px;
	margin-right: -35px;
	display: none;
}
#dsq-content #dsq-new-post #dsq-authenticate .dsq-autheneticate-copy {
	display: none;
}
#dsq-content #dsq-new-post #dsq-authenticate .dsq-login-buttons .dsq-login-button {
	display: none;
}
#dsq-content #dsq-form-area .dsq-post-fields .dsq-post-fields-left .dsq-input-wrapper, #dsq-content #dsq-form-area .dsq-post-fields .dsq-post-fields-right .dsq-input-wrapper, #dsq-content #dsq-new-post #dsq-form-area .dsq-textarea #dsq-textarea-wrapper {
	padding: 6px;
	font-size: 13px;
	border-top: solid 1px #656565;
	border-left: solid 1px #999;
	border-right: solid 1px #AFAFAF;
	border-bottom: solid 1px #C3C3C3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 7px;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/input_bg.png) repeat-x top #FFF;
}
#dsq-content #dsq-form-area .dsq-post-fields .dsq-post-fields-left .dsq-input-wrapper input, #dsq-content #dsq-form-area .dsq-post-fields .dsq-post-fields-right .dsq-input-wrapper input {
	padding: 0;
	font-size: 13px;
}
#dsq-content #dsq-new-post #dsq-form-area .dsq-post-footer #dsq-post-button {
	float: none;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	border-top: solid 1px #4A6E2E;
	border-left: solid 1px #43632A;
	border-right: solid 1px #43632A;
	border-bottom: solid 1px #3A5624;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x top #45793E;
	color: #FFF;
	height: 38px;
	line-height: 36px;
	cursor: pointer;
	padding: 0 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 6px 0 10px 0;
	-webkit-box-shadow: #999 0 1px 2px;
	-moz-box-shadow: #999 0 1px 2px;
	box-shadow: #999 0 1px 2px;
}
#dsq-content #dsq-new-post #dsq-form-area .dsq-post-footer #dsq-post-button:hover, #dsq-content #dsq-new-post #dsq-form-area .dsq-post-footer #dsq-post-button:focus {
	border-top: solid 1px #448B39;
	border-left: solid 1px #3A7531;
	border-right: solid 1px #3A7531;
	border-bottom: solid 1px #32662A;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x top #449837;
}
#dsq-content #dsq-new-post #dsq-form-area .dsq-post-footer #dsq-post-button:active {
	border-top: solid 1px #142712;
	border-left: solid 1px #2D5329;
	border-right: solid 1px #2D5329;
	border-bottom: solid 1px #345F30;
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/button.png) repeat-x 0 -38px #3C6D38;
	line-height: 38px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#dsq-content #dsq-comments .dsq-comment .dsq-comment-header .dsq-header-avatar .dsq-avatar, #dsq-content #dsq-comments .dsq-comment:hover .dsq-comment-header .dsq-header-avatar .dsq-avatar {
	background: 0;
	border: 0;
	padding: 0;
}
#dsq-content #dsq-comments .dsq-comment .dsq-comment-header .dsq-drop-profile .dsq-drop-showlnk, #dsq-content #dsq-comments .dsq-comment .dsq-comment-header .dsq-drop-profile .dsq-drop-badge {
	display: none;
}
#dsq-content #dsq-comments .dsq-comment .dsq-comment-header .dsq-drop-profile {
	border: 0;
	background: 0;
}
#dsq-content #dsq-new-post #dsq-form-area .dsq-post-fields .dsq-post-fields-right .dsq-subscribe-menu {
	background: #FBFBFB;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #777;
}
#dsq-content #dsq-comments .dsq-comment .dsq-comment-footer {
	height: 21px;
}
#dsq-content #dsq-comments .dsq-comment .dsq-comment-footer .dsq-comment-footer-left, #dsq-content #dsq-comments .dsq-comment .dsq-comment-footer .dsq-comment-footer-right {
	display: none;
}

#dsq-content #dsq-comments .dsq-comment:hover .dsq-comment-footer .dsq-comment-footer-left, #dsq-content #dsq-comments .dsq-comment:hover .dsq-comment-footer .dsq-comment-footer-right {
	display: block;
}
.dsq-header-avatar:hover .dsq-drop-profile .dsq-drop-services .dsq-service-blog {
	display: none;
}

/*----------------------------------- 
		Archives
------------------------------------*/
.archive_set {
	clear: both;
}
.archive_year {
	float: left;
	width: 50px;
	padding: 10px 20px 10px 10px;
	text-align: right;
	color: #999;
}
.archives_for_year {
	float: left;
	padding: 10px 0;
	width: 400px;
}
.archive_article {
	padding-bottom: 10px;
	line-height: 1.3em;
}

/*----------------------------------- 
		Sidebar
------------------------------------*/
#sidebar h4 {
	font-size: 21px;
	padding: 10px 0;
}
#ads {
	padding-left: 2px;
}
#pixmacad {
	clear: both;
	float:right;
	margin: -131px 15px 0 0;
	overflow:hidden;
}
#advertise_on_up {
	display: block;
	clear: both;
	background-color: #F6F6F6;
	border: solid 1px #E5E5E5;
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	color: #777;
	width: 253px;
	position: relative;
	bottom: -10px;
}
#advertise_on_up:hover {
	background-color: #E5E5E5;
	border: solid 1px #A0A0A0;
	text-decoration: none;
	color: #000;
}

#popular_posts {
	padding-top: 28px;
}
#popular_posts ul {
	margin-left: -30px;
	border-top: solid 1px #E3E3E3;
}
#popular_posts ul li {
	border-bottom: solid 1px #E3E3E3;
}
#popular_posts ul li a {
	font-size: 14px;
	display: block;
	line-height: 1.3em;
	padding: 5px 0;
	text-decoration: none;
	padding: 14px 18px 14px 30px;
}
#popular_posts ul li a:hover {
	color: #000;
	background-color: #F8F8F8;
}


#book_reviews {
	font-size: 13px;
}
#book_reviews ul {
	margin-left: -30px;
	border-top: solid 1px #E3E3E3;
}
#book_reviews ul li {
	position: relative;
	min-height: 120px;
	padding: 20px 14px 18px 125px;
	border-bottom: solid 1px #E3E3E3;
}
#book_reviews ul li img {
	position: absolute;
	top: 21px;
	left: 25px;
}
#book_reviews ul li a {
	line-height: 1.1em;
	text-decoration: none;
}
#book_reviews ul li a:hover {
	text-decoration: underline;
}
#book_reviews .isbn {
	display: none;
}
.isbn {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #999;
	margin-top: -14px;
	padding-bottom: 16px;
}
.book_title {
	font-size: 16px;
	display: block;
	padding-bottom: 0;
}
.book_author {
}

#write_for_up {
	padding: 22px 0 30px 0;
}
#write_for_up p {
	background: url(http://img.usabilitypost.com.s3.amazonaws.com/assets/icons/write_for_up.png) no-repeat 0 8px;
	font-size: 14px;
	color: #777;
	line-height: 1.4em;
	padding: 5px 0 0 78px;
}

/*----------------------------------- 
		Footer
------------------------------------*/
#footer {
	clear: both;
	padding: 15px 0 0 0;
	border-top: solid 1px #E3E3E3;
	font-size: 13px;
	color: #999;
}
#footer_links {
	float: right;
	color: #E3E3E3;
}
#credits {
	text-align: center;
	width: 904px;
	padding: 10px 0;
	margin: 0 auto;
	color: #746E66;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}
#credits a {
	color: #9B9892;
}
