



body {
	overflow:hidden; 		/* needed to eliminate scrollbars caused by the background image */
	padding:0;margin:0;		/* necesarry for the raster to fill the screen */
	height:100%;width:100%;
}

#bgimg {
	position:absolute;
	z-index: -1;
}

#realBody{
	position:absolute;
	z-index: 5;				/* Place the new body above the background image */
	overflow:auto; 			/* restore scrollbars for the content */
	height:100%;width:100%;	/* Make the new body fill the screen */
	background: url('../img/raster.png'); /* this is just a fancy raster, you can remove it; I kinda like it though */
}

/* 
	The following CSS code is for illustrative purposes, and is NOT necesarry for the fullscreenr plugin to work
*/

#container {
	width: 800px;
	height: 1000px;
	margin: auto;
	margin-top: 60px;
	padding-top: 10px;
	background:rgba(0,0,0,.8);
	text-align:center;
}

#container h1 {
	color:#fff;
	font-family: 'KitchenpoliceRegular', sans-serif;
	font-size:60px;
	text-decoration:none;
	font-weight: normal;
	
}


@font-face {
	font-family: 'KitchenpoliceRegular';
	src: url('KITCHENPOLICE-webfont.eot');
	src: local('‚ò∫'), url('KITCHENPOLICE-webfont.woff') format('woff'), url('KITCHENPOLICE-webfont.ttf') format('truetype'), url('KITCHENPOLICE-webfont.svg#webfontCRDciSXC') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* Grid */

#grid {
	margin-top: 20px;
}

#grid h2{
	color: #fff;
	text-align: left;
	margin-left: 65px;
	font-size: 30px;
	font-family: 'Lobster', sans-serif;
	margin-bottom: 3px;
	font-weight: normal;
}


#grid p{
	color: #fff;
	text-align: left;
	margin-left: 65px;
	margin-bottom: 3px;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	margin-top: 0px;
	width: 650px;
	line-height: 18px;
}

@font-face {
	font-family: 'Lobster';
	src: url('Lobster_1.3-webfont.eot');
	src: local('‚ò∫'), url('Lobster_1.3-webfont.woff') format('woff'), url('Lobster_1.3-webfont.ttf') format('truetype'), url('Lobster_1.3-webfont.svg#webfontcOtP3oQb') format('svg');
	font-weight: normal;
	font-style: normal;
}

#grid img {
	margin: 20px 10px 20px 10px;
	border: 3px solid #000;
}

#grid a:hover img{
	border: 3px solid #fff;
}

#header a{
	color: #fff;
	margin: 0;
	padding: 10px;
	display: block;
	background:rgba(0,0,0,.8);
	text-align: center;
}
