/*Reset and common styles*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,label,select,textarea,p,blockquote,th,td
{ 
	margin:0;
	padding:0;
}

ul,li
{
list-style:none;	
}

img,fieldset
{
	border:none;
}

.clear
{
	clear:both;
}

/*Page Layout*/
html
{
	background:#171718 url("images/tile_bg.jpg") top center;	
}
body
{
	font-family:rockwell,georgia,serif;
}

div.popupContent
{
	width:700px;
	margin:0px auto;
	padding:15px 0px;	
}

div.popupContent img
{
	float:left;
	margin:0px 30px 0px 0px;
	border:solid 1px #ffffff;
}

p
{
	color:#ffffff;
	font-size:0.8em;
	line-height:1.4em;
	margin:0px 0px 5px 0px;
}

a
{
	color:#9778a6;
}

h1
{
	color:#ffffff;
	font-size:1.5em;
	margin:0px 0px 5px 0px;
}

