/*Reset and common styles*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,label,select,textarea,p,blockquote,th,td
{ 
	margin:0;
	padding:0;
}

ul,li
{
list-style:none;	
}

img,fieldset
{
	border:none;
}

.clear
{
	clear:both;
}

/*Page Layout*/

html
{
	background:#171718 url("images/tile_bg.jpg") top center;
}

body
{
	background:url("images/main_bg.jpg") no-repeat top center;
	font-family:rockwell,georgia,serif;
}

h2,h3
{
	color:#ffffff;
	font-size:1.5em;
	margin:0px 0px 5px 0px;
}

p
{
	color:#ffffff;
	font-size:0.8em;
	line-height:1.4em;
	margin:0px 0px 5px 0px;
}

a
{
	color:#9778a6;
}

#pageContainer
{
	min-height:750px;
	_height:750px;
}

#parallax
{
	width:100%;
	position:relative;
}

#topscroller1
{
	height:150px;
	width:100%;
	overflow:hidden;
	margin:0 auto;
	position:absolute;
	top:0;
}

#topscroller2
{
	height:150px;
	width:100%;
	overflow:hidden;
	margin:0 auto;
	position:absolute;
	top:0;
}

#topscroller3
{
	height:150px;
	width:100%;
	margin:0 auto;
	overflow:hidden;
}

#topscrollingContent1
{
	width:10000px;
	height:150px;
	background-image:url("images/bokeh1.png");
	background-repeat:repeat-x;
}

#topscrollingContent2
{
	width:10000px;
	height:150px;
	background-image:url("images/bokeh2.png");
	background-repeat:repeat-x;
}

#topscrollingContent3
{
	width:10000px;
	height:150px;
	background-image:url("images/bokeh3.png");
	background-repeat:repeat-x;
}

#header
{
	width:100%;
	height:58px;
	position:absolute;
	top:34px;
	left:0px;
}

#headerBG
{
	width:100%;
	height:58px;
	background:url("images/header_bg.png") repeat-x top left;
}

#header li
{
	float:left;
}

#navWrapper
{
	width:960px;
	margin:0px auto;
	position:relative;
}

#goto_home
{
	display:block;
	text-indent:-9999em;
	width:360px;
	height:58px;
	left:40px;
	position:absolute;
	overflow:hidden;
	background:url("images/header_text.png") no-repeat -40px 0px;
	_background:url("images/IE_charliegentle.png") no-repeat;
}

#header:hover #goto_home
{
	background:url("images/header_text.png") no-repeat -40px -58px;
	_background:url("images/IE_charliegentle.png") no-repeat;
}

#header #goto_home:hover
{
	background:url("images/header_text.png") no-repeat -40px 0px;
	_background:url("images/IE_charliegentle.png") no-repeat;
}

#goto_web
{
	display:block;
	text-indent:-9999em;
	width:70px;
	height:58px;
	left:630px;
	position:absolute;
	overflow:hidden;
	background:url("images/header_text.png") no-repeat -630px 0px;
	_background:url("images/IE_web.png") no-repeat;
}

#header:hover #goto_web
{
	background:url("images/header_text.png") no-repeat -630px -58px;
	_background:url("images/IE_web.png") no-repeat;
}

#header #goto_web:hover
{
	background:url("images/header_text.png") no-repeat -630px 0px;
	_background:url("images/IE_web.png") no-repeat;
}

#goto_photo
{
	display:block;
	text-indent:-9999em;
	width:95px;
	height:58px;
	left:700px;
	position:absolute;
	overflow:hidden;
	background:url("images/header_text.png") no-repeat -700px 0px;
	_background:url("images/IE_photo.png") no-repeat;
}

#header:hover #goto_photo
{
	background:url("images/header_text.png") no-repeat -700px -58px;
	_background:url("images/IE_photo.png") no-repeat;
}

#header #goto_photo:hover
{
	background:url("images/header_text.png") no-repeat -700px 0px;
	_background:url("images/IE_photo.png") no-repeat;
}

#goto_contact
{
	display:block;
	text-indent:-9999em;
	width:120px;
	height:58px;
	left:795px;
	position:absolute;
	overflow:hidden;
	background:url("images/header_text.png") no-repeat -795px 0px;
	_background:url("images/IE_contact.png") no-repeat;
}

#header:hover #goto_contact
{
	background:url("images/header_text.png") no-repeat -795px -58px;
	_background:url("images/IE_contact.png") no-repeat;
}

#header #goto_contact:hover
{
	background:url("images/header_text.png") no-repeat -795px 0px;
	_background:url("images/IE_contact.png") no-repeat;
}

#scrollWrapper
{
	width:960px;
	margin:20px auto 0px;
	position:relative;
	overflow:hidden;
}

#prevArrow
{
	display:block;
	text-indent:-9999em;
	width:39px;
	height:36px;
	background:url("images/arrow_left.png")	no-repeat top left;
	position:absolute;
	top:150px;
	left:0px;
	overflow:hidden;
}

#nextArrow
{
	display:block;
	text-indent:-9999em;
	width:39px;
	height:36px;
	background:url("images/arrow_right.png")	no-repeat top left;
	position:absolute;
	top:150px;
	right:0px;
	overflow:hidden;
}

#scrollerWindow
{
	margin:0px auto 0px;
	width:860px;
	position:relative;
	overflow:hidden;
}

#scrollingContent
{
	width:10000px;
}

div.scrollPanel
{
	width:760px;
	float:left;
	padding:0px 50px;
}

#home img
{
	display:block;
	margin:0 auto;
}

.leftColumn
{
	width:425px;
	float:left;
	padding:0px 50px 0px 0px;
	min-height:170px;
	background:url("images/border.gif") top right repeat-y;
}

.rightColumn
{
	width:235px;
	float:left;
	padding:0px 0px 0px 50px;
	min-height:170px;
}

div.thumbnails
{
	margin:20px 0px 0px 50px;
}

div.thumbnails img
{
	border:solid 1px #ffffff;
	margin:0px 5px 5px 0px;
}

fieldset
{
	border:0;
	margin:0;
	padding:0;
}

legend
{
	display:none;
}

label
{
	display:block;
	color:#ffffff;
	font-size:0.8em;
	line-height:1.4em;
	margin:0px 0px 5px 0px;
}

input
{
	width:419px;
	margin:0px 0px 10px 0px;
	border:solid 1px #777;
	padding:2px;
	font-family:rockwell,georgia,serif;
}

textarea
{
	display:block;
	width:419px;
	height:130px;
	border:solid 1px #777;
	margin:0px 0px 10px 0px;
	font-family:rockwell,georgia,serif;
	font-size:0.9em;
	padding:2px;
	max-width:419px;
}

.error
{
	border:solid 1px #a21d1d;
	background-color:#f8e6e6;
}

button
{
	display:block;
	width:100px;
}

#loadingImage
{
	padding:50px 0px 0px 80px;
}


#overlay 
{
	display: none;
	clear: both;
	position: absolute;
	top: 0px;
	width: 100%;
	min-height: 100%;
	_height: 100%;
	z-index: 1;
	background: #333;
	opacity:0.5;
}

#popup 
{
	background:#ffffff;
	display: block;
	position: relative;
	margin: 100px auto;
	z-index: 1;
	width: 813px;
}

#footer
{
	margin:0 auto;
	width:200px;
	text-align:center;
}

#footer p
{
	color:#aaa;
}
